<div class="container">
	<div>
		<label>First Name</label>
		<input class="form-control"/>
  </div>
		<div>
			<label>Middle Name</label>
			<input class="form-control"/>
  </div>
			<div>
				<label>Last Name</label>
				<input class="form-control"/>
  </div>
				<div>
					<label>Date Of Birth</label>
					<input class="form-control"/>
  </div>
					<div>
						<label>Qualification</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" [checked]="c1" [ngModel]="c1">
						<label>MCS</label>
						<input type="checkbox" [checked]="c2">
						<label>MCA</label>
						<input type="checkbox" [checked]="c3">
						<label>BCS</label>
						<input type="checkbox" [checked]="c4">
						<label>BCA</label>
					</div>
					<div>
						<label>City</label>
					</div>
					<select class="form-control"><option *ngFor="let city of city">{{city.name}}
            </option ></select>
					<div>
						<label>Description</label>
						<textarea class="form-control"></textarea>
					</div>
				</div>